[Unit]
After=NetworkManager.service tim-sync.target
[Service]
Type=simple
User=pi
ExecStart=/usr/sbin/start_gps_daemon
[Install]
WantedBy=multi-user.target
